---
import FormattedDate from "./FormattedDate.astro";

const { as: Tag = "div", post } = Astro.props;
---

<FormattedDate class="min-w-[120px] text-gray-500" date={post.date} />
<Tag>
	<a class="reto-link" data-astro-prefetch href={post.link} target="_blank">
		{post.title}
	</a>
</Tag>
